<ng-container *ngIf="fieldErrors as errors">
  <span *ngIf="errors['required']"> Поле обязательно для заполнения. </span>
  <span *ngIf="errors['pastDate']"> Дата не может быть в прошлом. </span>
  <span *ngIf="errors['invalidTime']">
    Время не может быть ранее текущего времени.
  </span>
  <span *ngIf="errors['maxlength']">
    Заголовок не может быть длиннее
    {{ errors["maxlength"].requiredLength }} символов (введено
    {{ errors["maxlength"].actualLength }}).
  </span>
</ng-container>
