<button mat-icon-button (click)="onBackOnFolders()">
  <mat-icon>arrow_back</mat-icon>
</button>
<mat-card class="todo__card">
  <mat-card-title>Добавление задачи</mat-card-title>
  <mat-card-content>
    <form [formGroup]="todoForm">
      <mat-form-field appearance="fill">
        <mat-label>Дата истечения</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          readonly
          formControlName="expirationDate"
          placeholder="Выберите дату"
          aria-label="Expiration Date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-icon matSuffix (click)="clearField('expirationDate')"
          >clear</mat-icon
        >
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          <app-errors [field]="getFormControl('expirationDate')"></app-errors>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Время истечения</mat-label>
        <input
          matInput
          [ngxTimepicker]="timePicker"
          [format]="24"
          readonly
          formControlName="expirationTime"
          placeholder="Выберите время"
          aria-label="Expiration Time"
        />
        <mat-icon matSuffix (click)="clearField('expirationTime')"
          >clear</mat-icon
        >
        <ngx-material-timepicker
          #timePicker
          [format]="24"
        ></ngx-material-timepicker>

        <mat-error>
          <app-errors [field]="getFormControl('expirationTime')"></app-errors>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Заголовок</mat-label>
        <textarea
          matInput
          formControlName="title"
          placeholder="Введите заголовок"
          aria-label="Title"
        ></textarea>
        <mat-icon matSuffix (click)="clearField('expirationTime')"
          >clear</mat-icon
        >
        <mat-error>
          <app-errors [field]="getFormControl('title')"></app-errors>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button
      mat-raised-button
      color="primary"
      [disabled]="todoForm.invalid || locker.isLocked"
      (click)="onSubmit()"
    >
      Создать
    </button>
  </mat-card-actions>
</mat-card>
