.todo {
  &__card {
    background-color: #d8d8d8;
    color: black;
    width: 400px;
    padding: 20px;
    margin-top: 20px;

    form {
      display: flex;
      flex-direction: column;
    }

    p > span {
      font-weight: bold;
    }

    h2 {
      font-weight: bold;
      font-size: larger;
    }

    &-button-holder {
      display: flex;
      justify-content: end;
    }
    &-btn {
      background-color: cornflowerblue;
      &:hover {
        background: #457ada;
      }
      &:active {
        background: cornflowerblue;
      }
    }
  }
}
