<mat-card [style.opacity]="todo.done ? '0.5' : '1'">
  <mat-card-content class="card">
    <mat-checkbox
      [disabled]="isLocked"
      [checked]="todo.done"
      (change)="onDoneTodo()"
    >
    </mat-checkbox>
    <div class="card__title">
      {{ todo.title }}
    </div>

    <div>{{ todo.createdAt | date }}</div>
    <ng-container *ngIf="isToday; else notToday">
      <div
        [appHighlightIfUrgent]="todo.expirationTime | countdownTimer | async"
      >
        {{ todo.expirationTime | countdownTimer | async }}
      </div>
    </ng-container>
    <ng-template #notToday>
      <div>{{ todo.expirationDate | date }}</div>
    </ng-template>
    <button
      mat-icon-button
      [color]="todo.isFavorite ? 'warn' : ''"
      [disabled]="isLocked"
      (click)="onFavoriteTodo()"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="delete_button"
      #deleteButton
      [disabled]="isLocked"
      (click)="onDeleteTodo()"
    >
      <mat-icon>delete</mat-icon>
    </button></mat-card-content
  >
</mat-card>
